 body {
  
       background-color:#FFFF00;opacity:2;
       text-align:center;
       font-family: Arial, sans-serif;
       font-size: 20px;
      
       }

       ul li {
        
              display:inline;
        
          
 h1 {
  
    font-family: 'Dancing Script';font-size: 22px;
  
    }
        
  h3 {
   
       font-size: 43px;
   
       font-family: 'Dancing Script';font-size: 22px;
   
    }
 
